* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
}

/* main */
main {
    display: flex;
}

    /* barra laterale */
main aside {
    width: 250px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
}
main aside .nav {
    width: 100%;
    height: calc(100% - 80px);
    padding-top: 20px;
}
main aside a {
    color: #717171;
}
main aside .items a,  main aside .nav .logo{
    display: flex;
    align-items: center;
}
main aside .nav .logo {
    margin-bottom: 20px;
    padding-left: 20px; 
}
main aside .nav .logo img{
    width: 65%;
    height: auto;
}
main aside .items {
    font-weight: 500;
    padding: 6px 20px;
    font-size: 0.9rem;
}

main aside .items a i {
    color: #a3a3a3;
    font-size: 1.3rem;
    padding-right: 15px;
}
main aside .nav .items h4 {
    color: white;
    padding-top: 20px;
    font-size: 1.1rem;
}
main aside .nav .items a .add {
    font-size: 2.5rem;
}
main aside .nav .items a h5 {
    font-size: 1.05rem;
}
main aside .nav #lista-playlist {
    overflow: auto;
    /* max-height: 240px; */
    height: 48%;
}
main aside .nav #lista-playlist ul li {
    padding: 8px 20px;
    font-size: 0.9rem;
    font-weight: 500;   
}
main aside .nav .active {
    border-left: solid 4px #adff2f;
    padding-left: 16px;
}
main aside .nav .active a {
    color: white;
}
main aside .nav .active a i {
    color: #d2d2d2;
}
main aside #profilo {
    width: 100%;
    height: 80px;
    padding: 6px 20px;
    background-color: #000000;
}
main aside #profilo .items {
    padding: 7px 0;
}
main aside #profilo .utente {
    padding-top: 10px;
    border-top: solid 1px #717171;
}
main aside #profilo .utente a {
    color: white;
}
main aside #profilo .utente a i {
    font-size: 1.5rem;
}

    /* zona centrale */
main section {
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    /* debug */
    background-color: aqua;
}
main section #upgrade {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 100px;
    /* debug */
    background-color: blue;
}

/* control */
#control {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #282828;
}
#control .colsx {
    display: flex;
    color: white;
    align-items: center;
    width: 20%;
}
#control .colsx img{
    width: 50px;
    height: 50px;
}
#control .colsx .nome-brano {
    margin-left: 10px;
    font-size: 0.9rem;
}
#control .colsx .nome-brano span {
    font-size: 0.7rem;
    color: #a3a3a3;
    font-weight: 500;
}
#control .colsx #preferita {
    margin-left: 30px;
}
#control .colsx #preferita a {
    padding: 0 4px;
    color: #a3a3a3;
}
#control .col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}
#control .col-center #gestione-brano {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#control .col-center #gestione-brano a i {
    padding: 0 8px;
    color: white;
}
#control .col-center #gestione-brano .play {
    padding: 0 10px;
    font-size: 1.8rem;
}
#control .col-center #time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    color: white;
    font-size: 0.7rem;
}
#control .col-center #time #total-time {
    height: 4px;
    width: 85%;
    background-color: #5a5a5a;
    border-radius: 4px;
    margin: 0 10px;
}
#control .col-center #time #total-time #current-time {
    width: 20%;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 4px;
}
#control .coldx{
    display: flex;
    color: white;
    align-items: center;
    width: 15%;
}
#control .coldx a i {
    padding: 0 5px;
    color: white;
}
#control .coldx #total-volume {
    height: 4px;
    width: 85%;
    background-color: #5a5a5a;
    border-radius: 4px;
    margin: 0 10px;
}
#control .coldx #total-volume #current-volume {
    width: 20%;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 4px;
}